body {
    font-family: "Arial";
    color: #333333;
}

fieldset {
    border-style: dotted;
    margin-bottom: 20px;
}

.form__fieldwrap {
    margin-bottom: 40px;
    display: inline-block;
    width: 49%;
}

.form__input {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #4a4a4a;
    background-color: transparent;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
    border-radius: 0;
    padding-top: .7em;
    padding-bottom: .7em;
    padding-left: 20px;
    padding-right: 20px;
    font-family: inherit;
    outline: none;
}

.form__input:focus {
    outline: 3px solid #000000;
}

input[type="radio"]:focus {
    background-color: #000000;
}

.form__fieldwrap--radio {
    position: relative;
}
.w-50 {
    width: 50%;
}

input[type="radio"]:focus {
    background: #000;
}

.form__fieldwrap--radio .form__label {
    position: absolute;
    color: #fff;
    background: #999999;
    padding: 10px 20px;
    border-radius: 5px;
    top: 10px;
    cursor: pointer;
}

.form__label {
    margin-bottom: 10px;
    display: inline-block;
}

.form__fieldwrap--radio input[type="radio"] {
    opacity: 0;
}

input[type="radio"]:focus+.form__label {
    background: #000;
}

.form__fieldwrap--submit {
    width: 100%;
    margin-bottom: 0;
}

.button--submit {
    width: inherit;
    color: #000;
    padding: 10px 20px;
    background: #999999ba;
    border-radius: 5px;
    border: 1px;
    cursor: pointer;
}